/* Body ak background */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('background.webp') no-repeat center center fixed;
    background-size: cover;
    color: white;
}

/* Container pou tout kontni */
.container {
    max-width: 500px;
    margin: 50px auto;
    background-color: rgba(0, 0, 0, 0.7); /* transparans pou wè background */
    padding: 20px;
    border-radius: 10px;
}

/* Titre sit la */
h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

/* Fòm nan */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px 0;
}

input, select, button {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
}

input[type="number"], select, input[type="file"] {
    width: 100%;
}

button {
    background-color: #ffcc00;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #ff9900;
}

/* Infos MonCash/NatCash */
.infos {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

/* Message apwobasyon / tan livrezon */
.message {
    text-align: center;
    margin-top: 20px;
    font-style: italic;
}
